*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('images/japan.avif') no-repeat center center/cover;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.title {
    text-align: center;
    font-size: 70px;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.navigation {
    text-align: center;
    margin: 20px;

}

nav {
    display: inline-block;
    padding: 10px;
}
nav ul li{
    text-align: center;
    display: inline-block;
    width: 300px;
    margin: 0 20px;
    font-size: 50px;
    
}
nav ul{
    margin: 0 auto;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    
}
nav ul li a:hover{
    border-bottom: 4px solid rgb(255, 255, 255);
    border-radius: 10px;
    
}
.description {
    color: white;
    margin: 20px;
    font-size: 25px;
    
}

.obrazky1, .obrazky2{
    padding: 20px;
}

.obrazky1, .obrazky2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff7;
  
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0 auto 10px auto;
  box-shadow: 0 0 8px #0003;
}

