
.back-link {
    text-decoration: none;
    color: white;
    padding: 6px;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 36px;
}

.back-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.back-link:active {
    background-color: rgba(255, 255, 255, 0.3);
}


*{
      box-sizing: border-box;
}

    body {
      margin: 0;
      padding: 20px;
      font-family: sans-serif;
      background-color: #f0f0f0;
      background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('../../images/japan.avif') no-repeat center center/cover;
      background-size: cover;
      background-attachment: fixed;
      display: flex;
      align-items: center;       /* vertikálně */
      justify-content: center;   /* horizontálně */
      min-height: 100vh;
    }

    .kanji-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      max-width: 1400px;

    }

    .kanji-card {
      background-color: transparent;
      background-color: rgba(0, 0, 0, 0.3);
      border: 1px solid #ffffff;
      border-radius: 50px;
      padding: 35px;
      width: 260px;
      text-align: center;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .kanji {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 0px;
      color: #ffffff;
    }

    .romaji {
      color: #ffffff;
      font-size: 1.3rem;
      margin-bottom: 6px;
    }

    .example {
      font-style: italic;
      color: #ffffff;
      font-size: 1.3rem;
      margin-bottom: 0;
    }